@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Montserrat&family=Parisienne&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

::selection {
  background-color: rgb(134 239 172);
  color: rgb(0 0 0);
}

.muh_name {
  font-family: "Parisienne", cursive;
}
